body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: linear-gradient(to right, #dce2f1, #dfdfeb);
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

img {
  flex: 1;
  border-radius: 20px;
  box-shadow: royalblue;
}

.contenido {
  flex: 2;
}



h2 {
  font-size: 70px;
  margin: 10px 0 10;


  font-family: "Rhodium Libre", serif;
  font-weight: 400;
  font-style: normal;

  color: #493d9e;
  font-weight: bold;


}

a img {
  height: 40px;
  width: 40px;
  margin: 10px;
}
a imag:hover {
  transform: scale(1.1);
}

.etapas {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: #e93ec4; */
}

.tarjetas {
  
  background-color: #FFF2AF85;
  border: 2px solid #493d9e;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.tarjetas img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.tarjetas h3 {
  margin: 10px 0 5px;
  font-size: 50px;
 
  text-align: left;

  font-family: "Rhodium Libre", serif;
  font-weight: 400;
  font-style: normal;

  color: #493d9e;
  font-weight: bold;




}

.tarjetas ul li {
 
  


  text-align: left;
  
  font-family: "Rhodium Libre", serif;
  font-weight: 400;
  font-style: normal;

  color: black;
  font-weight: bold;
  font-size: 20px;






}


.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #B2A5FF;
}


.navCronoClase{


  
  font-family: "Rhodium Libre", serif;
  font-weight: 400;
  font-style: normal;

  color: #493d9e;
  font-weight: bold;


}

.navCronoClase>*{

  border: 2px solid #493d9e;
  padding: 3px;
}

.headerCronoclase{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;


  
}

h1{  font-family: "Vibur", cursive;
  font-weight: 400;
  font-style: normal;

  font-size: 200px;
  color: #493d9e;
  margin: 0px;}


  .clockCronoClase{

    border-radius: 50%;
    height: 150px;
    width: 150px;
  
  
  }

  .ViabRieCronoClase{

    display:flex;
    justify-content: center;
    margin: 10px;
    
    width: 90%;
    
    
    
  }

  .viabilidadCronoClase{

    display: flex;
    flex-direction: column;
    
    border-radius: 15px;
    align-items: center;
    padding: 10px;

    background-color: #FFF2AF85;
    border: 2px solid #493d9e;
    margin: 5px;

    
    
  }


  h3 img{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #493d9e;
  }


  h3{

    font-size: 50px;
 
    text-align: left;
  
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
  
    color: #493d9e;
    font-weight: bold;
  }

  .ViabRieCronoClase li{

 
 
    text-align: left;
  
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
  
    color: black;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;


    
  }


  .ViabRieCronoClase li::before {
    


    content: '✔️';
    
   
    
  
  }