.containerLogIn{

    display: flex;
    flex-direction: column;
    align-items: center;
}


.containerLogIn>*{

    border: 2px solid;
    margin: 10px;
}


img{

    border: 2px solid;
    
    
}


.campoEmail{

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

 



}





button, input {

    height: 30px;
    width: 300px;
    border: 2px solid;
    border-radius: 15px;

    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;



}


.campoEmail>*{

    border: 2px solid red;
}


h2{

    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;


}


.FotterCesde{

    
}
